APP_ENV=dev
LOG_LEVEL=info
APP_PORT=8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_NAME=auth_db
POSTGRES_SSLMODE=disable

DRAGONFLY_HOST=localhost
DRAGONFLY_PORT=6379
DRAGONFLY_PASSWORD=
DRAGONFLY_DB=0

JWT_SECRET=super-secret-key-change-in-prod
